:root {
    --color-background: #f5f5f5;
    --color-text: #333;
    --color-header: linear-gradient(180deg, #5d78ff, #2984fd);
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}

header {
    background: var(--color-header);
    padding: 20px;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}

header:hover {
    background: linear-gradient(180deg, rgb(74, 128, 255), #94c0f2); 
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

header:hover h1 {
    color: #e1e1e1; 
}


header h1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: #fff;
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
}

header:hover h1::after {
    transform: scaleX(1);
}




h1 {
    margin: 0;
    color: rgb(33, 31, 31);
    font-size: 36px;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.link {
    width: 320px;
    height: 330px;
    margin-bottom: 40px;
    background-color: var(--color-background);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

.link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.link h2 {
    margin: 0;
    font-size: 24px;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0c0c0c;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link p {

    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #0c0c0c;
    font-weight: bold;
    height: 250px;

}

.link a.linkedin-link {
    bottom: 10px;
    left: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #f3eded;
    border-radius: 9px;
    text-decoration: none;
    color: #f7f5f5;
    z-index: 1;
    background-color: #63aef3;
    opacity: 0.8;
}

.link a.whatsapp-link {

    bottom: 10px;
    left: 100px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #f3eded;
    border-radius: 9px;
    text-decoration: none;
    color: #f7f5f5;
    z-index: 1;
    background-color: #63f36d;
    opacity: 0.8;
}

.github-link {

    bottom: 10px;
    left: 100px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #f3eded;
    border-radius: 9px;
    text-decoration: none;
    color: #f7f5f5;
    z-index: 1;
    background-color: hsl(132, 8%, 12%);
    opacity: 0.8;
}